@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Roboto' sans-serif;
}

.App-header {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 133, 110, 0.9640231092436975) 33%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(221, 221, 221);
  margin-bottom: 5rem;
}

.hero__title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 1rem;
}

.social__links {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1rem;
  transition: 1s all ease;
}

/* .social__links:hover {
  color: red;
} */

.social__links:visited {
  color: inherit;
}

.social__links:not(:last-of-type) {
  margin-right: 2.5rem;
}

/* MAIN SECTION */

@media screen and (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(1fr 1fr);
    grid-template-areas:
      'copy1 image1'
      'image2 copy2'
      'copy3 image3'
      'image4 copy4';
    width: 90%;
    margin: 0 auto;
  }
}

.travel__copy {
  grid-area: copy1;
  width: 75%;
  padding-top: 2rem;
}

.travel__img img {
  grid-area: image1;
  width: 100%;
}

.copy {
  line-height: 1.5rem;
}

.cycling__copy {
  grid-area: copy2;
  width: 75%;
  padding: 2rem 0rem 0rem 4rem;
}

.cycling__img img {
  grid-area: image2;
  width: 100%;
}
.golf__copy {
  grid-area: copy3;
  width: 75%;
  padding-top: 2rem;
}

.golf__img img {
  grid-area: image3;
  width: 100%;
}

.footer__wrapper {
  height: 7rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 35rem);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 133, 110, 0.9640231092436975) 33%,
    rgba(0, 212, 255, 1) 100%
  );
  color: rgb(221, 221, 221);
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
}

.footer__info {
  width: 45%;
  line-height: 1.5rem;
  letter-spacing: 2px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.footer__contact a {
  text-decoration: none;
  margin-bottom: 3px;
  font-size: 1.2rem;
  transition: all 1s ease;
}

.footer__contact a:hover {
  color: rgba(2, 0, 36, 1);
}

.footer__contact a {
  color: inherit;
}

.footer__social {
  width: 50%;
  text-align: center;
}

.footer__social a {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: inherit;
  transition: all 1s ease;
}

.footer__social a:hover {
  color: rgba(2, 0, 36, 1);
}
